body {
	/* background-color: #888888; */

	/* width: 100%; */
	/* position: relative; */
	/* overflow: auto; */
	/* box-sizing: border-box; */
}

.main-box {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	margin: 10px;
	padding: 10px;
	height: 95vh;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #F0F0F0;
	color: green;
	font-size: 80px;
	text-align: center;
}

.main-box__text {
	
}

.tailwind-button {
	background-size: 100%;
	background-image: url(../img/logo-tailwind.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px;
}

.main-box__button {
	font-size: 100px;
}

.main-box__github {
	background-size: 100%;
	background-image: url(../img/github-mark-white.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px;
}
