body {
	/* background-color: #888888; */

	/* width: 100%; */
	/* position: relative; */
	/* overflow: auto; */
	/* box-sizing: border-box; */
}

.main-box {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	margin: 10px;
	padding: 10px;
	height: 95vh;
	border: 2px solid black;
	border-radius: 50px;
	background-color: #F0F0F0;
	color: green;
	font-size: 80px;
	text-align: center;
}

.main-box__text {
	
}

.main-bot__button {
	
}
